:root {
	--background-color: rgb(191, 209, 229);
	--mainBackground-color: rgb(166, 189, 219);
	--tileBackground-color: rgb(128, 166, 206);
	--messageBackground-color: rgb(8, 96, 168);

	--border-color: rgb(217, 229, 240);
	--inputBorder-color: rgb(80, 133, 188);

	--buttonBackground-color: rgb(104, 149, 197);
	--buttonHoverBackground-color: rgb(166, 189, 219);
	--buttonText-color: rgb(217, 229, 240);


	--headerText-color: rgb(8, 96, 168);
	--inputText-color: rgb(45, 114, 178);
	--regularText-color: rgb(80, 133, 188);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	border: 1px solid red;*/
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2rem;
	color: var(--headerText-color);
	text-align: center;

	margin-top: 10px;
	margin-bottom: 5px;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s linear, opacity 0.5s linear;
}

.message-wrapper {
	padding: 5px;
	position: absolute;
	top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 18px;
	color: black;
	background: var(--messageBackground-color);
	border: 2px solid var(--border-color);
}

.tiles-wrapper {
	padding: 10px;
	width: 400px;
	background: var(--mainBackground-color);
	border: 3px solid var(--border-color);
	border-radius: 5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 20px;
}

.tile-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.tile {
	width: 60px;
	height: 60px;
	background: white;
	border: 1px solid lightgrey;

	font-size: 30px;
	font-weight: bold;
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 3px;
}

.keyboard-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.keyboard-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.keyboard-tile {
	width: 40px;
	height: 40px;
	background: white;
	border: 1px solid black;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 3px;
}